* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 70px 85px;
}

.container header {
    margin-bottom: 40px;
}

.container header h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 46px;
    text-transform: capitalize;
    color: #0A2449;
}

.content-primary {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.content-primary .avatar {
    width: 196px;
    height: 196px;
    border-radius: 50%;
    overflow: hidden;
}

.content-primary .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-primary .person-data {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.content-primary .person-data h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #0A2449;
    text-transform: uppercase;
}

.content-primary .person-data span {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #9799AA;
}

.content-primary .person-data p {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #0A2449;
}

.profile-data {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.profile-data .block {
    flex-basis: 40%;
}

.profile-data .block .block-item {
    margin-bottom: 24px;
}

.profile-data .block .block-item .block-item_title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #9799AA;
    display: block;
    padding-bottom: 5px;
    border-bottom: 2px solid #6B48E7;
    margin-bottom: 15px;
}

.profile-data .block .block-item .block-item_descr {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #0A2449;
}


@media (max-width: 840px){
    h1 {
        text-align: center;
    }
    .container  {
        padding: 50px 40px;
    }
    .person-data {
        text-align: center;
    }
    .content-primary {
        flex-direction: column;
    }
    .profile-data .block {
        flex-basis: 45%;
    }
}

@media (max-width: 640px){
    .profile-data {
        flex-direction: column;
    }
}